<div class="Global">
  <button class="Article" (click)="showAllArticle()">
    <div class="Title">{{title}}</div>
    <div class="Resume">Résumé:{{resume}}</div>
    <div *ngIf="showContent" class="Content">{{content}}</div>
  </button>
  <button *ngIf="showContent" class="Button" (click)="reduceContent()">Réduire</button>
</div>
