.Global{
  display: flex;
  flex-direction: column;
}
.Article {
  font-family: 'Kaushan Script', cursive;
  font-size: 16px;
  background: none;
  color: white;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0px 0px 10px 0px white;
}

.Title {
  font-size: 24px;
  text-align: center;
}

.Resume {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.Content {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.Button {
  width: 300px;
  height: 40px;
  font-family: 'Kaushan Script', cursive;
  font-size: 10px;
  background: dimgrey;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
