<header>
  <div class="Header">
    <div class="HeadLeft">
      <img class="Logo" src="https://www.zenika.com/static/logos/logo.png"/>
      <a class="TitreSite" routerLink="" routerLinkActive="active">Zenika Academy</a>
    </div>
    </div>
</header>
<div class="Stats">
  <p class="Stat">Nombre d'articles rédigé sur le site:{{articles.length}}</p>
  <p class="Stat">Nombre d'articles publié sur le site:{{articlesPublish.length}}</p>

</div>
<div class="Footer">
  <div class="PiedPage">
    <p class="Repro">Toute reproduction est interdite</p>
    <a class="Stats" routerLink="statistiques" routerLinkActive="active">Statistiques</a>
    <p class="copyright">&copy;POEI Zenika 2020</p>
  </div>
</div>
