<div class="Global">
  <div class="Article">
    <div class="ListeDeroulante" *ngIf="showInput">
      <label class="Label">Catégorie:</label>
      <SELECT class="Liste">
        <option (click)="chooseCategory('JAVA')">JAVA</option>
        <option (click)="chooseCategory('DEVOPS')">DEVOPS</option>
        <option (click)="chooseCategory('PYTHON')">PYTHON</option>
        <option (click)="chooseCategory('CSHARP')">CSHARP</option>
        <option (click)="chooseCategory('PEOPLESOFT')">PEOPLESOFT</option>
      </SELECT>
    </div>
    <div class="TitleDiv" *ngIf="showInput">
      <label class="Label">Titre:</label>
      <input type="text" [(ngModel)]="title" (ngModelChange)="change()">
    </div>
    <div class="ResumeDiv" *ngIf="showInput">
      <label class="Label">Résumé (50 caractères maximum):</label>
      <input type="text" class="Resume" [(ngModel)]="resume" (ngModelChange)="change()">
      <p class="Alert" *ngIf="showAlert">{{alert}}</p>
    </div>
    <div class="ResumeDiv" *ngIf="showInput">
      <label class="Label">Contenu de l'article:</label>
      <input type="text" class="Content" [(ngModel)]="content" (ngModelChange)="change()">
    </div>
    <div class="ButtonDiv" *ngIf="showInput">
      <button class="Button" (click)="createArticle()" [disabled]="disabled">Créer mon brouillon</button>
    </div>
    <div class="Response" *ngIf="showMessage">
      <p>Vous avez ajouté un brouillon à votre compte.</p>
      <button class="Button" (click)="returnHomepage()">OK</button>

    </div>
  </div>
</div>
