.Global {
  display: flex;
  justify-content: center;
}

.Article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: black;
  color: white;
  font-family: 'Kaushan Script', cursive;
  border-radius: 5px;
  border: black solid 3px;
  box-shadow: 0px 0px 10px 0px white;
  margin: 25px;
}

.ListeDeroulante {
  display: flex;
  justify-content: center;
}

.Liste {
  font-family: 'Kaushan Script', cursive;
  font-size: 12px;
  background: white;
  border-radius: 5px;
  text-align: center;
}

.TitleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.ResumeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

Input {
  width: 200px;
  heiht: 50px;
  text-align: center;
  background: #f9ebc6;

  font-family: 'Kaushan Script', cursive;
  font-size: 18px;
  font-style: italic;
  border: none;
  border-radius: 5px;
}
.Resume{
  width: 400px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
.Alert{
  font-family: 'Kaushan Script', cursive;
  font-size: 18px;
  font-style: italic;
  color: red;
}
.Content{
  width: 400px;
  height: 300px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.ButtonDiv {
  display: flex;
  justify-content: center;
}

.Button {
  width: 100px;
  height: 40px;
  font-family: 'Kaushan Script', cursive;
  font-size: 12px;
  font-weight: bold;
  background: dimgrey;
  border: none;
  background: white;
  border-radius: 5px;
  margin: 10px;
}
