<header>
  <div class="Header">
    <div class="HeadLeft">
      <img class="Logo" src="https://www.zenika.com/static/logos/logo.png"/>
      <a class="TitreSite" (click)="homepage()">Zenika Academy</a>
      <button class="Button" *ngIf="registerInformations != null" (click)="showMyArticles()">Voir mes articles</button>
      <button class="Button" *ngIf="registerInformations != null" (click)="showCreateArticlePage()">Rédiger un article</button>
    </div>
    <div class="HeadRight">
      <label>Recherche:</label>
      <input class="Search" type="text" [(ngModel)]="search" (ngModelChange)="searchFromTitle()">
      <button class="Button" (click)="goRegister()">Se connecter</button>
      <button class="Button" (click)="createAccount()">Créer un compte</button>
    </div>
  </div>
</header>
<app-new-user (infoRegister)="onRegisterInfo($event)" (homepage)="onreturnHomepage($event)"
              *ngIf="showCreateAccount"></app-new-user>
<app-register *ngIf="showRegister" (infoRegister)="onRegisterInfo($event)"
              (homepage)="onreturnHomepage($event)"></app-register>
<app-list-article *ngIf="showAll" [articles]="articlesList"></app-list-article>
<app-user-articles *ngIf="showUserArticles" [User]="registerInformations"></app-user-articles>
<app-new-article *ngIf="showNewArticle"
                 (homepage)="onreturnHomepage($event)" [infoRegister]="registerInformations"></app-new-article>
<div class="Footer">
  <div class="PiedPage">
    <p class="Repro">Toute reproduction est interdite</p>
    <a class="Stats" routerLink="statistiques" routerLinkActive="active">Statistiques</a>
    <p class="copyright">&copy;POEI Zenika 2020</p>
  </div>
</div>
