a {
  cursor: pointer;
}

header {
  background: black;
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  opacity: 0.85;
}

label {
  margin-top: 15px;
}

.Logo {
  width: 50px;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeadLeft {
  display: flex;
  flex-direction: row;
}

.TitreSite {
  margin-left: 30px;
  margin-top: 20px;
  text-align: center;
  color: white;
}

.HeadRight {
  display: flex;
  flex-direction: row;
}

.Search {
  height: 30px;
  width: 150px;
  font-family: 'Kaushan Script', cursive;
  font-size: 16px;
  background: white;
  margin-top: 17px;
  margin-left: 5px;
  border-radius: 5px;
  text-align: center;
}

.Button {
  width: 100px;
  height: 50px;
  font-family: 'Kaushan Script', cursive;
  font-size: 16px;
  font-weight: bold;
  background: dimgrey;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

.Footer {
  font-family: Arial;
  font-family: 'Kaushan Script', cursive;
  color: white;
  position: absolute; bottom: 0; left: 0; right: 0;
  background: black;
}
.PiedPage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}
.Stats{
  margin-top: 20px;
  text-align: center;
  color: white;
}
