<div class="Global">
  <div class="ListeArticles">
    <div class="Article" *ngFor="let article of articles">
      <app-article [article]="article" [title]="article.title" [resume]="article.resume" [content]="article.content"
                   [category]="article.category"></app-article>
      <p class="State">Etat:{{article.status}}</p>
      <div class="DivButton">
        <button class="Button" *ngIf="showButtonPublish" (click)="publish(article.id)">Publier</button>
        <button class="Button" *ngIf="showNewContent" (click)="changeContent(article.id)">Valider</button>
      </div>
    </div>
  </div>
  <button class="Button" *ngIf="articles.length>0" (click)="content()" [disabled]="disabled">{{MessageButtonContent}}</button>
  <div class="NewContent" *ngIf="showNewContent">
    <input class="Content" type="text" [(ngModel)]="newContent">

  </div>
  <div>
    <p class="Response" *ngIf="showArticlePublish">Article publié</p>
    <p class="Response" *ngIf="showContentChange">Contenu de l'article modifié</p>
  </div>
</div>
