.Global{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Liste{
  font-family: 'Kaushan Script', cursive;
  font-size: 18px;
  background: white;
  opacity: 0.5;
  border-radius: 5px;
  text-align: center;
}
.ListeArticles{
  display: flex;
  flex-direction: row;
}
.Article{
  margin: 15px;
}
.DivButton{
  display: flex;
  flex-direction: column;
}
.NewContent{
  display: flex;
  flex-direction: column;
}
.Content{
  width: 300px;
  height: 200px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-family: 'Kaushan Script', cursive;
  font-size: 12px;
  border-radius: 5px;
}
.Button {
  width: 300px;
  height: 50px;
  font-family: 'Kaushan Script', cursive;
  font-size: 16px;
  font-weight: bold;
  background: dimgrey;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.Response{
  background: white;
  color: black;
  width: 300px;
  height: 30px;
  font-family: 'Kaushan Script', cursive;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}
.State{
  background: white;
  color: black;
  width: 300px;
  height: 20px;
  font-family: 'Kaushan Script', cursive;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
}
