.Global {
  display: flex;
  justify-content: center;
}

.Register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: black;
  color: white;
  font-family: 'Kaushan Script', cursive;
  border-radius: 5px;
  border: black solid 3px;
  box-shadow: 0px 0px 10px 0px white;
  margin: 25px;
}

.PseudoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.PasswordDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

Input {
  width: 200px;
  heiht: 50px;
  text-align: center;
  background: #f9ebc6;

  font-family: 'Kaushan Script', cursive;
  font-size: 18px;
  font-style: italic;
  border: none;
  border-radius: 5px;
}
.ButtonDiv{
  display: flex;
  justify-content: center;
}
.Button{
  width: 100px;
  height: 50px;
  font-family: 'Kaushan Script', cursive;
  font-size: 16px;
  font-weight: bold;
  background: dimgrey;
  border: none;
  background: white;
  border-radius: 5px;
  margin: 10px;
}
