<div class="Global">
  <div class="Register">
    <div class="PseudoDiv">
      <label class="Label">Veuillez indiquer votre pseudo:</label>
      <input type="text" [(ngModel)]="pseudo" (ngModelChange)="change()">
    </div>
    <div class="PasswordDiv">
      <label class="Label">Veuillez indiquer votre mot de passe:</label>
      <input type="password" [(ngModel)]="password" (ngModelChange)="change()">
    </div>
    <div class="PasswordDiv">
      <label class="Label">Retapez votre mot de passe:</label>
      <input type="password" [(ngModel)]="password2" (ngModelChange)="change()">
      <p *ngIf="showWarnPassword">Les mots de passe ne correspondent pas</p>
    </div>
    <div class="ButtonDiv">
      <button class="Button" (click)="registerMe()" [disabled]="disabled">Me connecter</button>
    </div>
  </div>
</div>
