.Global{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ListeDeroulante{
  display: flex;
  justify-content: center;
}
.Liste{
  font-family: 'Kaushan Script', cursive;
  font-size: 18px;
  background: white;
  opacity: 0.5;
  border-radius: 5px;
  text-align: center;
}
.ListeArticles{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;

}
.Article{
  margin: 15px;
}
