<div class="Global">
  <div class="ListeDeroulante">
    <SELECT class="Liste">
      <option (click)="chooseCategory('JAVA')">JAVA</option>
      <option (click)="chooseCategory('DEVOPS')">DEVOPS</option>
      <option (click)="chooseCategory('PYTHON')">PYTHON</option>
      <option (click)="chooseCategory('CSHARP')">CSHARP</option>
      <option (click)="chooseCategory('PEOPLESOFT')">PEOPLESOFT</option>
    </SELECT>
  </div>
  <div class="ListeArticles">
    <div class="Article" *ngFor="let article of articles">
      <app-article *ngIf="showArticlesForOneCategory" [article]="article" [title]="article.title"
                   [resume]="article.resume" [content]="article.content"
                   [category]="article.category"></app-article>
    </div>
  </div>
</div>
