<div class="Global">
  <div class="Register">
    <div class="PseudoDiv" *ngIf="showInput">
      <label class="Label">Veuillez indiquer un pseudo:</label>
      <input type="text" [(ngModel)]="pseudo" (ngModelChange)="change()">
    </div>
    <div class="PseudoDiv" *ngIf="showInput">
      <label class="Label">Veuillez indiquer un mail:</label>
      <input type="text" [(ngModel)]="mail" (ngModelChange)="change()">
    </div>
    <div class="PasswordDiv" *ngIf="showInput">
      <label class="Label">Veuillez indiquer un mot de passe:</label>
      <input type="password" [(ngModel)]="password" (ngModelChange)="change()">
    </div>
    <div class="PasswordDiv" *ngIf="showInput">
      <label class="Label">Retapez votre mot de passe:</label>
      <input type="password" [(ngModel)]="password2" (ngModelChange)="change()">
      <p *ngIf="showWarnPassword">Les mots de passe ne correspondent pas</p>
    </div>
    <div class="ButtonDiv" *ngIf="showInput">
      <button class="Button"  (click)="createUser()" [disabled]= "disabled">Créer mon compte</button>
    </div>
    <div class="Response" *ngIf="showMessage">
      <p>Votre compte a bien été enregistré.</p>
      <p>Vos informations:</p>
      <p>ID: {{ResponseServer.id}}</p>
      <p>Votre pseudo: {{ResponseServer.pseudo}}</p>
      <p>Votre mail: {{ResponseServer.mail}}</p>
      <p>Votre mot de passe: {{ResponseServer.password}}</p>
      <button class="Button" (click)="returnHomepage()">OK</button>

    </div>
  </div>
</div>
